{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    {% load static wagtailcore_tags wagtailimages_tags wagtailuserbar %}
    <div class="main-content">
        <section class="page-banner homepage-default">
            <div class="container">
                <div class="homepage-banner-warpper">
                    <div class="homepage-banner-content">
                        <div class="group-title">
                            <h1 class="title">SUM FRIENDS</h1>
                            <p class="text">collection of friends
                                <span class="boder"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}