{% load static wagtailcore_tags wagtailmetadata_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="utf-8" /> -->
        <!-- <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
                {% endblock %}
                {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}            
        </title> -->
        <!-- <meta name="description" content="{{ page.search_description }}" /> -->
        {% block meta_tag %}
            {% meta_tags %}
        {% endblock %}
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <!-- <meta property="og:url" content="https://en.friends.sum.lk{{request.get_full_path}}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Blog" />
        <meta property="og:description" content="Read our latest blog articles with friends" />
        <meta property="og:image" content="{% static 'images/meta/meta-image.jpg' %}" /> -->
        {# Global stylesheets #}
        <!-- FONT CSS-->
        <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">
        <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
        <link type="text/css" rel="stylesheet" href="{% static 'font/font-icon/font-awesome/css/font-awesome.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'font/font-icon/font-flaticon/flaticon.css' %}">
        <!-- LIBRARY CSS-->
        <link type="text/css" rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'libs/animate/animate.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'libs/slick-slider/slick.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'libs/slick-slider/slick-theme.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'libs/selectbox/css/jquery.selectbox.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'libs/please-wait/please-wait.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'libs/fancybox/css/jquery.fancybox.css?v=2.1.5' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'libs/fancybox/css/jquery.fancybox-buttons.css?v=1.0.5' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'libs/fancybox/css/jquery.fancybox-thumbs.css?v=1.0.7' %}">
        <!-- STYLE CSS-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/layout.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/components.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/color.css' %}">
        <!--link(type="text/css", rel='stylesheet', href='assets/css/color-1/color-1.css', id="color-skins")-->
        <link type="text/css" rel="stylesheet" href="#" id="color-skins">
        <script src="{% static 'libs/jquery/jquery-2.2.3.min.js' %}"></script>
        <script src="{% static 'libs/js-cookie/js.cookie.js' %}"></script>
        <script>
            if ((Cookies.get('color-skin') != undefined) && (Cookies.get('color-skin') != 'color-1'))
            {
                $('#color-skins').attr('href', "{% static 'css/' %}" + Cookies.get('color-skin') + '/' + 'color.css');
            }
            else if ((Cookies.get('color-skin') == undefined) || (Cookies.get('color-skin') == 'color-1'))
            {
                $('#color-skins').attr('href', "{% static 'css/color-1/color.css' %}");
            }
        </script>
        <link type="text/css" rel="stylesheet" href="{% static 'libs/nst-slider/css/jquery.nstSlider.min.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body>
        {% wagtailuserbar %}
        <div class="body-wrapper">
            <!-- MENU MOBILE-->
            {% include "menu_mobile.html" %}
            <!-- WRAPPER CONTENT-->
            <div class="wrapper-content">
                <!-- HEADER-->
                {% include "header.html" %}
                <!-- WRAPPER-->
                <div id="wrapper-content">
                    <!-- MAIN CONTENT-->
                    {% block content %}{% endblock %}
                    <!-- BUTTON BACK TO TOP-->
                    <div id="back-top">
                        <a href="#top" class="link">
                            <i class="fa fa-angle-double-up"></i>
                        </a>
                    </div>
                </div>
                <!-- FOOTER-->
                {% if "/" != request.path %}
                {% include "footer.html" %}
                {% endif %}
            </div>
        </div>
        <script>
            if ((Cookies.get('color-skin') != undefined) && (Cookies.get('color-skin') != 'color-1'))
            {
                $('.logo .header-logo img ,.logo-footer img, .group-logo .img-logo').attr('src', "{% static 'images/logo/logo-white-' %}" + Cookies.get('color-skin') + '.png');
                $('.logo-black img').attr('src', "{% static 'images/logo/logo-black-' %}" + Cookies.get('color-skin') + '.png');
            }
            else if ((Cookies.get('color-skin') == undefined) || (Cookies.get('color-skin') == 'color-1'))
            {
                $('.logo .header-logo img , .logo-footer img, .group-logo .img-logo').attr('src', "{% static 'images/logo/logo-white-color-1.png' %}");
                $('.logo-black img').attr('src', "{% static 'images/logo/logo-black-color-1.png' %}");
            }
        </script>
        <!-- LIBRARY JS-->
        <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'libs/detect-browser/browser.js' %}"></script>
        <script src="{% static 'libs/smooth-scroll/jquery-smoothscroll.js' %}"></script>
        <script src="{% static 'libs/wow-js/wow.min.js' %}"></script>
        <script src="{% static 'libs/slick-slider/slick.min.js' %}"></script>
        <script src="{% static 'libs/selectbox/js/jquery.selectbox-0.2.js' %}"></script>
        <script src="{% static 'libs/please-wait/please-wait.min.js' %}"></script>
        <script src="{% static 'libs/fancybox/js/jquery.fancybox.js' %}"></script>
        <script src="{% static 'libs/fancybox/js/jquery.fancybox-buttons.js' %}"></script>
        <script src="{% static 'libs/fancybox/js/jquery.fancybox-thumbs.js' %}"></script>
        <!--script(src="assets/libs/parallax/jquery.data-parallax.min.js")-->
        <!-- MAIN JS-->
        <script src="{% static 'js/main.js' %}"></script>
        <!-- LOADING JS FOR PAGE-->
        <script src="{% static 'js/pages/home-page.js' %}"></script>
        <script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'libs/nst-slider/js/jquery.nstSlider.min.js' %}"></script>
        <script src="{% static 'libs/plus-minus-input/plus-minus-input.js' %}"></script>
        <script src="{% static 'js/pages/sidebar.js' %}"></script>
        <script src="{% static 'js/pages/result.js' %}"></script>
        <script>
            var logo_str = "{% static 'images/logo/logo-black-color-1.png' %}";
            if (Cookies.set('color-skin'))
            {
                logo_str = "{% static 'images/logo/logo-black-' %}" + Cookies.set('color-skin') + '.png';
            }
            window.loading_screen = window.pleaseWait(
            {
                logo: logo_str,
                backgroundColor: '#fff',
                loadingHtml: "<div class='spinner sk-spinner-wave'><div class='rect1'></div><div class='rect2'></div><div class='rect3'></div><div class='rect4'></div><div class='rect5'></div></div>",
            });
        </script>
        {# Global javascript #}
        

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
